.env
*.bak

.tc.custom.log4j2.properties
XAStore
bin
cacheStore
conf

config

db
docker
logs
monitorRepo
replicate
sdk
support
updateReadmes
updates
userFtpRoot
web

packages/Wm*
packages/Default

lib

.DS_Store
/.classpath
/.project
