<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="IntegrationLiveConnections" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="tenantAlias">default</value>
        <value name="lastUploadedTimeStr">2023-05-12 16:56:36 CEST</value>
        <jboolean name="uploadPending">false</jboolean>
        <value name="aliasName">default_account</value>
        <value name="description">Default account</value>
        <value name="stage">stage00</value>
        <value name="stageDisplay">Development</value>
        <value name="realmUrls"></value>
        <value name="onPremiseHosts"></value>
        <null name="filter"/>
        <number name="windowSize" type="java.lang.Integer">5</number>
        <number name="retry" type="java.lang.Long">5</number>
        <value name="runAsUser">Administrator</value>
        <jboolean name="isEnabled">true</jboolean>
        <jboolean name="isForAdminUse">false</jboolean>
        <record name="properties" javaclass="com.wm.data.ISMemDataImpl">
        </record>
        <number name="lastUploadedTime" type="java.lang.Long">1683903396821</number>
        <number name="lastSavedTime" type="java.lang.Long">1682346423374</number>
        <number name="timeToLive" type="java.lang.Long">30000</number>
        <number name="timeToLiveCache" type="java.lang.Long">60</number>
        <null name="keyStoreAlias"/>
        <null name="keyAlias"/>
        <null name="trustStoreAlias"/>
      </record>
    </array>
    <number name="lastSavedTime" type="java.lang.Long">1683903396846</number>
  </record>
</IDataXMLCoder>
